{% extends 'base.html.twig' %}

{% block body %}
    <h1>Person list</h1>

    <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Affiliate</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for person in persons %}
                <tr>
                    <td><a href="{{ path('person_show', { 'id': person.id }) }}">{{ person.id }}</a></td>
                    <td>{{ person.name }}</td>
                    <td>
                        {% if person.affiliate is not null %}
                            {{ person.affiliate.name }}
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('person_show', { 'id': person.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('person_edit', { 'id': person.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <ul>
        <li>
            <a href="{{ path('person_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
