{% extends 'base.html.twig' %}

{% block body %}
    <h1>Affiliate list</h1>

    <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Company</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for affiliate in affiliates %}
                <tr>
                    <td><a href="{{ path('affiliate_show', { 'id': affiliate.id }) }}">{{ affiliate.id }}</a></td>
                    <td>{{ affiliate.name }}</td>
                    <td>{{ affiliate.city }}</td>
                    <td>{{ affiliate.company.name }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('affiliate_show', { 'id': affiliate.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('affiliate_edit', { 'id': affiliate.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <ul>
        <li>
            <a href="{{ path('affiliate_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
