{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employee list</h1>

    <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Company</th>
                    <th>Director</th>
                    <th>Chief Accountant</th>
                </tr>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr>
                    <td><a href="{{ path('employee_show', { 'id': company.id }) }}">{{ company.id }}</a></td>
                    <td>{{ company.name }}</td>
                    <td>
                        {% if company.directorId is not null %}
                            {{ company.directorId.name }}
                        {% endif %}
                        <a href="{{ path('employee_editDirector', { 'id': company.id }) }}">edit</a>
                    </td>
                    <td>
                        {% if company.accountantId is not null %}
                            {{ company.accountantId.name }}
                        {% endif %}
                        <a href="{{ path('employee_editAccountant', { 'id': company.id }) }}">edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <ul>
        <li>
            <a href="{{ path('employee_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
