{% extends 'base.html.twig' %}

{% block body %}
    <h1>Company edit</h1>

    {{ form_start(edit_form) }}
        {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('company_index') }}">Back to the list</a>
        </li>
        {% if company.director is not null %}
            <li>
                {{ form_start(delete_director_form) }}
                    <input type="submit" value="Free director position">
                {{ form_end(delete_director_form) }}
            </li>
        {% endif %}
        {% if company.accountant is not null %}
            <li>
                {{ form_start(delete_accountant_form) }}
                    <input type="submit" value="Free chief accountant position">
                {{ form_end(delete_accountant_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
