{% extends 'base.html.twig' %}

{% block body %}
    <h1>Company</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>Director</th>
                <td>
                    {% if company.director is not null %}
                        {{ company.director.name }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Chief Accountant</th>
                <td>
                    {% if company.accountant is not null %}
                        {{ company.accountant.name }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('company_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('company_edit', { 'id': company.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
